<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EmployeeDatabase</display-name>
  <servlet>
    <servlet-name>Employee_SelectAll</servlet-name>
    <servlet-class>org.starlabs.EmployeDatabaseManagement.Employee_SelectAll</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>org.starlabs.EmployeDatabaseManagement.DeleteEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>org.starlabs.EmployeDatabaseManagement.UpdateEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertEmployee</servlet-name>
    <servlet-class>org.starlabs.EmployeDatabaseManagement.InsertEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowEmployee</servlet-name>
    <servlet-class>org.starlabs.EmployeDatabaseManagement.ShowEmployee</servlet-class>
  </servlet>
</web-app>